*
!/.gitignore
!/pub
!/pub/bridge2cart
!/pub/bridge2cart/**
!/pub/.well-known
!/pub/.well-known/**
!/.magento.app.yaml
!/.magento.env.yaml*
!/.magento
!/.magento/**
/.magento/local
!/patches
!/patches/**
!/app
!/app/*/
!/app/code/**
!/app/design/**
/app/design/frontend/Develo/Bamford/web/css/styles.css
!/app/etc/config.php
!/app/i18n/**
!/auth.json
!/build_options.ini
!/composer.json
!/composer.lock
!/magento-vars.php
!/m2-hotfixes
!/m2-hotfixes/**
!/php.ini
!/deploy
!/update
!/update/.htaccess
!/README.md
!/op-exclude.txt
.mcp.json
!/e2e-tests/**
!/.devcontainer
!/.devcontainer/**
.devcontainer/db-installed.flag